.search-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	span:first-child {
		color: rgb(140, 30, 160);
	}
	span:nth-child(2) {
		position: relative;
		.searchIconWrapper {
			padding: 1px;
			position: absolute;
		}
		input {
			width: 250px;
			padding-left: 30px;
		}
	}
}

.no-result-text {
	display: flex;
	justify-content: center;
	padding: 10px;
}
