* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Gabriela", serif;
  /* font-family: "Quicksand", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  min-width: 100%;
}

h2 {
  font-family: Georgia, serif;
}

.link-wrapper {
  text-decoration: none;
  color: black;
}

.add-button {
  display: flex;
  justify-content: center;
  margin: 15px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 20px auto;
  box-shadow: 2px 2px 5px grey;
  padding: 20px;
}

@media (max-width: 600px) {
  form {
    width: 80%;
  }
}

.form-header {
  text-align: center;
  margin: 20px auto;
  color: rgb(71, 94, 92);
  font-size: 18px;
}

div.MuiFormControl-root {
  width: 80%;
  margin: 8px 0;
}

button.MuiButtonBase-root.form-button {
  margin-top: 15px;
}

footer {
  text-align: center;
}

.table-cell {
  padding: 5px;
}

.table-wrapper {
  max-width: 100%;
  overflow-x: auto;
}

.table-head {
  & > tr > th {
    font-weight: bold;
    opacity: 0.9;
  }
}

.top-bar {
  margin: 16px 0;
  padding: 10px 8px;
  & > *strong {
    color: #149089;
  }
}
